.f-row-first-column {
	padding-right:36px;
}
.m-banner-wrap .index-banner img {height: 380px;}
.index-column-wrap {
	margin-top:30px;
}
.index-column-wrap .title-bar {
	line-height: 36px;
	border-bottom:1px solid #ddd;
}
.index-column-wrap .title-bar .caption {
	display: inline-block;
	margin-right:10px;
	line-height: 32px;
	font-size: 18px;
	font-weight: bold;
	color:#121212;
	border-bottom:4px solid #00a0e9;
}
.index-column-wrap .title-bar .small-title {
	color:#9c9c9c;
	font-size:14px;
}
.index-column-wrap .title-bar .view-more{
	float: right;
	color:#9c9c9c;
	font-size:12px;
}

.index-img-news .img-box {
	/* float: left; */
	margin-top:20px;
	/* width:47.5%; */
	overflow: hidden;
}
.index-img-news .img-box a {display: block;width:100%;max-height:200px;overflow: hidden;}
.index-img-news .img-box img {max-width: 100%;transition: transform .3s}
.index-img-news .img-box img:hover {
	transform: scale(1.1)
}
.index-img-news .text-info {
	/* margin-left:52.5%; */
	/* width:47.5%; */
}
.index-img-news .text-info .top {
	margin-top:20px;
}
.index-img-news .text-info .title{
	font-weight: bold;
	font-size:16px;
	color:#121212;
}
.index-img-news .text-info .top .date-box {
	float:left;
	padding-right:10px;
	margin-right:10px;
	width:80px;
	border-right:1px solid #ddd;
	color:#9c9c9c;
	font-size:22px;
	font-weight: bold;
	line-height: 1;
	text-align: right;
}
.index-img-news .text-info .top .date-box .year {
	display: block;
	margin-top:5px;
	font-size:14px;
	font-weight: 100;
}
.index-img-news .description {margin:20px 0;color:#ababab;}
.index-text-news .item {
	padding:20px 0;
	border-bottom:1px solid #ddd;
}
.index-text-news .item .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.index-text-news .item a{
	font-size:16px;
	color:#2c2c2c;
	text-decoration: none;
}
.index-text-news .item a:hover {
	color:#00a0e9;
}
/**经贸信息**/
.jmxx-news .top{
	height: 50px;
}
.jmxx-news .text-info .title {font-weight: 400;}
.jmxx-news .date {

}
/***/
.zwgk-content .cate {margin-top:20px;}
.zwgk-content .cate a {
	display: inline-block;
	padding:20px 0;
	box-sizing: border-box;
	width:50%;
	color:#fff;
	background:#00a0e9;
	font-size: 18px;
	text-align: center;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	text-decoration: none;
	transition: all .3s;
}
.zwgk-content .cate a:hover {
	opacity: .8;
}
.zwgk-content .cate .name {margin-left:10px;}

/****/
.link-select {
	padding-top:9px;
}
.link-select .dropdown {
	float: left;
	border-right:1px solid #fff;
	width:50%;
}
.link-select .dropdown > .btn {
	padding-top:15px;
	padding-bottom:15px;
	border-radius:0;
	font-size:16px;
}
.link-select .dropdown-menu {
	padding:0;
	width:100%;
	border-radius:0;
}
.link-select .dropdown-menu > li > a {
	padding-top:10px;
	padding-bottom:10px;
}

/****/
.index-fairs {
	padding-top:20px;
}
.index-fairs .item {
	display: block;
	padding:20px;
	background-color:#00a0e9;
	color:#fff;
	border-bottom:1px solid #fff;
	text-decoration:none;
	transition:all .3s;
}
.index-fairs .item:hover {
	/* background-color:#0088c6; */
	opacity:.8;
}
.index-fairs .item .title {
	height:50px;
	font-size:18px;
}
.index-fairs .item .other {
	font-size:12px;
}
.index-fairs .item .glyphicon {margin-right:5px;}


/****/
.jmxx-news {
	margin-top:20px;
	border-top:1px solid #ddd;
}
.jmxx-news .item {
	position: relative;
	padding:20px 0;
	border-bottom:1px solid #ddd;
}
.jmxx-news .item .date-box {
	position: absolute;
	left:0;
	top:20px;
	display: inline-block;
	padding-right:30px;
	height:36px;
	overflow: hidden;
	vertical-align: middle;
	border-right:1px solid #ddd;
}
.jmxx-news .item .date-box p {
	margin:0;
	padding:0;
	line-height: 1;
	color:#00a0e9;
}
.jmxx-news .item .date-box .day {
	font-size:24px;
}
.jmxx-news .item .date-box .month {font-size:12px;}
.jmxx-news .item .link {
	display: inline-block;
	padding-left:90px;
	width:100%;
	height:36px;
	line-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
}
.jmxx-news .item a {
	font-size:16px;
	/* color:#4c4c4c; */
}

/****/
.index-business {
	/* padding-top:20px; */
}
.index-business .item {
	display: block;
	padding-top:20px;
	padding-bottom:19px;
	text-decoration: none;
	border-bottom:1px solid #ddd;
}
.index-business .item::after {
	content: "";
	display: block;
	clear: both;
}
.index-business .type {
	/* float: left; */
	/* margin-right:30px; */
	display: inline-block;
	padding-right:30px;
	border-right: 1px solid #ddd;
	color:#00a0e9;
}
.index-business .title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.index-business .title a{
	/* float: left; */
	padding-left:30px;
	display: inline-block;
	font-size:16px;
	color:#232323;
}
.index-business .title a:hover {
	color:#00a0e9;
}
.index-business .time {
	text-align: right;
	color:#9c9c9c;
}
.m-footer-brand {
	box-sizing: border-box;
	margin-top:20px;
	border-bottom:1px dotted #ddd;
	border-right:1px dotted #ddd;	
}
.m-footer-brand a {
	display: block;
	float: left;
	padding:10px;
	width:25%;
	border-top:1px dotted #ddd;
	border-left:1px dotted #ddd;
	box-sizing: border-box;
	text-align: center;
	/* border-style: dashed */
}
.m-footer-brand a:hover img{
	opacity: .5;
}
.m-footer-brand a img{
	max-width: 100%;
	transition: all .3s ease-in-out;
}
@media (max-width: 768px){
	.m-banner-wrap .index-banner img {height: 240px;}
	.f-row-first-column {padding-right:0;}
	.m-footer-brand a {width:50%;}
}