<div class="panel">
    <div class="panel-body">
        <div class="u-page-title">
            <span class="caption">添加文章</span>
        </div>
        <form name="news-form" class="form form-horizontal" action="{:U('save',array('type'=>$_GET['type']))}">
            <input type="hidden" name="cid" value="{$Think.get.cid}">
            <div class="form-group">
                <label class="control-label col-xs-2">
                    <span class="text-danger">*</span>文章标题:</label>
                <div class="col-xs-6">
                    <input type="text" name="title" class="form-control" value="" maxlength="32" placeholder="建议24个字符以内">
                </div>
                <div class="col-xs-3 js-tips"></div>
            </div>
 

            <div class="form-group">
                <label class="control-label col-xs-2">是否推荐:</label>
                <div class="col-xs-7">
                    <label class="radio-inline">
                        <input type="radio" name="recommend" value="1" />是</label>
                    <label class="radio-inline">
                        <input type="radio" name="recommend" value="0" />否</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2">显示状态:</label>
                <div class="col-xs-7">
                    <label class="radio-inline">
                        <input type="radio" name="status" value="1" checked />显示</label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="0" />隐藏</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">外部链接:</label>
                <div class="col-xs-6">
                    <textarea name="external_link" maxlength="500" class="form-control" placeholder="200字符以内"></textarea>
                </div>
                <div class="col-xs-4">设置外部链接后可不用填写内容详情</div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">来源:</label>
                <div class="col-xs-4">
                    <input type="text" name="origin" class="form-control" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2">关键词:</label>
                <div class="col-xs-6">
                    <input type="text" name="keywords" class="form-control" value="" placeholder="关键词用','隔开">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2"><span class="text-danger">*</span>文章描述:</label>
                <div class="col-xs-6">
                    <textarea name="description" maxlength="120" class="form-control" placeholder="120字符以内"></textarea>
                </div>
                <div class="col-xs-3 js-tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">内容详情:</label>
                <div class="col-xs-8">
                    <script id="editorContainer" name="content"></script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-2">
                    <button type="button" class="form-control btn-default" onclick="window.history.back()">返回列表</button>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="form-control btn-info">提交</button>
                </div>

            </div>
        </form>
    </div>
</div>