<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>{$pageTitle}</title>
    <link rel="stylesheet" href="__PUBLIC__/Js/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="__WEB_ASSET__/css/global.css">
    <link rel="stylesheet" href="__WEB_ASSET__/css/main.css">
</head>

<body>
    <!-- header -->
    <include file="Template/header" />

    <!-- banner -->
    <div class="w-main f-cb">
        <div class="g-b-side f-fl">

        </div>
        <div class="g-s-side f-lr"></div>
    </div>

    <!-- main content -->
    <div class="w-main f-cb">
        <div class="g-b-side f-fl">
            <div id="column-banner" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(__UPLOAD__/images/column-banner-01.jpg)">
                        <a href="{:U('detail')}" class="title">成都姑娘晚高峰地铁淡定敷面膜爆红网络</a>
                    </div>
                    <div class="swiper-slide" style="background-image:url(__UPLOAD__/images/column-banner-02.jpg)">
                        <a href="{:U('detail')}" class="title"> 2018 台北手信 30大清單｜無添加龍眼蜜、文創牛軋糖</a>
                    </div>
                </div>
                <div class="swiper-button-prev swiper-button-black"></div>
                <div class="swiper-button-next swiper-button-black"></div>
            </div>

            <div class="m-bar-default">
                <h2 class="title">最新发布</h2>
            </div>
            <ul class="m-imgtext m-imgtext-big">
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-01.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">帶着媽媽去旅行！嚴選4間媽媽必冧性價比極高大阪住宿</a>
                        <p class="desc">可是你能想象到，在两年之前的Jini，还是一个足足200多斤的大胖妞啊。能看出来下面的照片，竟然是同一个人吗？</p>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-02.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">明明五官没变，为什么倪妮能完成去“土气”逆袭之路？</a>
                        <p class="desc">可是你能想象到，在两年之前的Jini，还是一个足足200多斤的大胖妞啊。能看出来下面的照片，竟然是同一个人吗？</p>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-03.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">和景甜拍拖的直男张继科连口红都分不清</a>
                        <p class="desc">可是你能想象到，在两年之前的Jini，还是一个足足200多斤的大胖妞啊。能看出来下面的照片，竟然是同一个人吗？</p>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                        <p class="desc">可是你能想象到，在两年之前的Jini，还是一个足足200多斤的大胖妞啊。能看出来下面的照片，竟然是同一个人吗？</p>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                        <p class="desc">可是你能想象到，在两年之前的Jini，还是一个足足200多斤的大胖妞啊。能看出来下面的照片，竟然是同一个人吗？</p>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="m-paging">
                <a href="javascript:" class="cur">
                    1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
            </div>
        </div>
        <div class="g-s-side f-fr">
            <div class="m-bar-border-top">
                <h2 class="title">每周热搜</h2>
            </div>
            <ul class="m-imgtext m-imgtext-sm">
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-01.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">帶着媽媽去旅行！嚴選4間媽媽必冧性價比極高大阪住宿</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-02.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">明明五官没变，为什么倪妮能完成去“土气”逆袭之路？</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-03.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">和景甜拍拖的直男张继科连口红都分不清</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="u-ad">
                <a href="https://www.baidu.com" target="_blank">
                    <img src="__UPLOAD__/images/ad-sm-01.jpg" alt="" width="100%" height="230">
                </a>
            </div>
            <div class="m-bar-border-top">
                <h2 class="title">人气点击</h2>
            </div>
            <ul class="m-imgtext m-imgtext-sm">
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-01.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">帶着媽媽去旅行！嚴選4間媽媽必冧性價比極高大阪住宿</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-02.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">明明五官没变，为什么倪妮能完成去“土气”逆袭之路？</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-03.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">和景甜拍拖的直男张继科连口红都分不清</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="{:U('detail')}" class="img-box">
                        <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                    </a>
                    <div class="text-box">
                        <a class="title" href="{:U('detail')}">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                        <div class="u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>






    <!-- footer -->
    <include file="Template/footer" />
</body>

</html>
<script src="__PUBLIC__/Js/plugins/swiper/swiper.min.js"></script>
<script>
    var swiper = new Swiper('#column-banner', {
        autoplay: 5000,
        speed: 1000,
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
    });
</script>