<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{$cateinfo['keyword']}">
    <meta name="description" content="{$cateinfo['description']}">
    <title>{$cateinfo['title']}</title>
    <link rel="stylesheet" href="__PUBLIC__/Js/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="__WEB_ASSET__/css/global.css">
    <link rel="stylesheet" href="__WEB_ASSET__/css/main.css">
</head>

<body>
    <!-- header -->
    <include file="Template/header" />

    <!-- banner -->
    <div class="w-main f-cb">
        <div class="g-b-side f-fl">

        </div>
        <div class="g-s-side f-lr"></div>
    </div>

    <!-- main content -->
    <div class="w-main f-cb">
        <div class="g-b-side f-fl">
            <div id="column-banner" class="swiper-container">
                <div class="swiper-wrapper">
                    <foreach name="banner" item="vo">
                    <div class="swiper-slide" style="background-image:url(__UPLOAD__/banner/{$vo['img']})">
                        <a href="{$vo['url']}" class="title">{$vo['title']}</a>
                    </div>
                    </foreach>
                </div>
                <div class="swiper-button-prev swiper-button-black"></div>
                <div class="swiper-button-next swiper-button-black"></div>
            </div>

            <div class="m-bar-default">
                <h2 class="title">最新发布</h2>
            </div>
            <ul class="m-imgtext m-imgtext-big">
                <foreach name="mainlist" item="vo">
                        <li class="item">
                                <a href="{:U('detail',array('cid'=>$vo['cid'],'id'=>$vo['id']))}" class="img-box">
                                    <img src="__UPLOAD__/thumb/{$vo['thumb']}" alt="{$vo['title']}">
                                </a>
                                <div class="text-box">
                                    <a class="title" href="{:U('detail')}">{$vo['title']}</a>
                                    <p class="desc">{$vo['description']}</p>
                                    <div class="u-statistics">
                                        <span class="view">{$vo['click']}</span>
                                        <span class="time">{$vo['time']}</span>
                                    </div>
                                </div>
                            </li>
                </foreach>

            </ul>

            <div class="m-paging">
                {$page}
            </div>
        </div>
        <div class="g-s-side f-fr">
                <include file="Template/smallside" />
        </div>
    </div>






    <!-- footer -->
    <include file="Template/footer" />
</body>

</html>
<script src="__PUBLIC__/Js/plugins/swiper/swiper.min.js"></script>
<script>
    var swiper = new Swiper('#column-banner', {
        autoplay: 5000,
        speed: 1000,
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
    });
</script>