<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{$baseInfo['keywords']}">
    <meta name="description" content="{$baseInfo['description']}">
    <title>{$baseInfo['site_name']}</title>
    <link rel="stylesheet" href="__PUBLIC__/Js/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="__WEB_ASSET__/css/global.css">
    <link rel="stylesheet" href="__WEB_ASSET__/css/main.css">
</head>

<body>
    <!-- header -->
    <include file="Template/header" />
    <!-- banner -->
    <div id="index-banner" class="swiper-container">
        <div class="swiper-wrapper">
            <foreach name="banner" item="vo">
                <if condition="$vo['url'] neq ''">
                    <a href="{$vo['url']}" target="_blank" class="swiper-slide" style="background-image:url(__UPLOAD__/banner/{$vo['img']})"></a>
                    <else/>
                    <div class="swiper-slide" style="background-image:url(__UPLOAD__/banner/{$vo['img']})"></div>
                </if>

            </foreach>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!---recomment-->
    <div id="index-recomment" class="g-wrap">
        <div class="w-main">
            <div class="m-bar-center">
                <h2 class="title">每日推荐</h2>
            </div>
            <ul class="m-pic-list">
                <foreach name="recommend" item="list">
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail',array('cid'=>$list['cid'],'id'=>$list['id']))}" target="_blank">
                                <img src="__UPLOAD__/thumb/{$list['thumb']}" alt="{$list['title']}">
                            </a>
                        </div>
                        <a href="{:U('Article/detail',array('cid'=>$list['cid'],'id'=>$list['id']))}" target="_blank" class="title" title="{$list['title']}">{$list['title']}</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index',array('cid'=>$list['cid']))}" class="f-fl category">{$list['catename']}</a>
                            <div class="f-fr u-statistics">
                                <span class="view">{$list['click']}</span>
                                <span class="time">{$list['time']}</span>
                            </div>
                        </div>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>

    <!-- new -->
    <div class="">
        <div class="w-main f-cb">
            <div class="g-b-side f-fl">
                <div class="m-bar-default">
                    <h2 class="title">最新发布</h2>
                </div>
                <ul class="m-pic-list">
                    <foreach name="mainlist" item="list">
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail',array('cid'=>$list['cid'],'id'=>$list['id']))}" target="_blank">
                                <img src="__UPLOAD__/thumb/{$list['thumb']}" alt="{$list['title']}">
                            </a>
                        </div>
                        <a href="{:U('Article/detail',array('cid'=>$list['cid'],'id'=>$list['id']))}" target="_blank" class="title">{$list['title']}</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index',array('cid'=>$list['cid']))}" class="f-fl category">{$list['catename']}</a>
                            <div class="f-fr u-statistics">
                                <span class="view">{$list['click']}</span>
                                <span class="time">{$list['time']}</span>
                            </div>
                        </div>
                    </li>
                    </foreach>
                </ul>
            </div>
            <div class="g-s-side f-fr">
                    <include file="Template/smallside" />
            </div>
        </div>
    </div>
    <!-- footer ad -->

    <div class="g-wrap">
        <div class="w-main">
            <foreach name="adlist" item="ad">
                <if condition="$ad['position_key'] eq 1">
                    <div class="u-ad-ft">
                            <if condition="$ad['url'] neq ''">
                                    <a href="{$ad['url']}" target="_blank">
                                            <img src="__UPLOAD__/ad/{$ad['img']}" width="100%">
                                    </a>
                                <else/>
                                <img src="__UPLOAD__/ad/{$ad['img']}" width="100%">
                            </if>
                    </div>
                </if>

            </foreach>

        </div>
    </div>

    <!-- footer -->
    <include file="Template/footer" />
</body>

</html>
<script src="__PUBLIC__/Js/plugins/swiper/swiper.min.js"></script>
<script>
    var swiper = new Swiper('#index-banner', {
        autoplay: 5000,
        speed: 1000,
        pagination: '.swiper-pagination',
        paginationClickable: true,
    });
</script>