<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{$baseInfo['keywords']}">
    <meta name="description" content="{$baseInfo['description']}">
    <title>{$baseInfo['site_name']}</title>
    <link rel="stylesheet" href="__PUBLIC__/Js/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="__WEB_ASSET__/css/global.css">
    <link rel="stylesheet" href="__WEB_ASSET__/css/main.css">
</head>

<body>
    <!-- header -->
    <include file="Template/header" />
{:var_dump($hot)}
    <!-- banner -->
    <div id="index-banner" class="swiper-container">
        <div class="swiper-wrapper">
            <foreach name="banner" item="vo">
                <div class="swiper-slide" style="background-image:url(__UPLOAD__/banner/{$vo['img']})"></div>
            </foreach>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!---recomment-->
    <div id="index-recomment" class="g-wrap">
        <div class="w-main">
            <div class="m-bar-center">
                <h2 class="title">每日推荐</h2>
            </div>
            <ul class="m-pic-list">
                <li class="item">
                    <div class="img-box">
                        <a href="{:U('Article/detail')}" target="_blank">
                            <img src="__UPLOAD__/images/pro-img-01.jpg" alt="【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍">
                        </a>
                    </div>
                    <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                    <div class="f-cb foot-info">
                        <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                        <div class="f-fr u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="img-box">
                        <a href="{:U('Article/detail')}" target="_blank">
                            <img src="__UPLOAD__/images/pro-img-02.jpg" alt="人氣鹹蛋魚皮！新加坡過江龍">
                        </a>
                    </div>
                    <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                    <div class="f-cb foot-info">
                        <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                        <div class="f-fr u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="img-box">
                        <a href="{:U('Article/detail')}" target="_blank">
                            <img src="__UPLOAD__/images/pro-img-03.jpg" alt="人氣鹹蛋魚皮！新加坡過江龍">
                        </a>
                    </div>
                    <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                    <div class="f-cb foot-info">
                        <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                        <div class="f-fr u-statistics">
                            <span class="view">1244</span>
                            <span class="time">03/12</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- new -->
    <div class="">
        <div class="w-main f-cb">
            <div class="g-b-side f-fl">
                <div class="m-bar-default">
                    <h2 class="title">最新发布</h2>
                </div>
                <ul class="m-pic-list">
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail')}" target="_blank">
                                <img src="__UPLOAD__/images/pro-img-01.jpg" alt="【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍">
                            </a>
                        </div>
                        <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                            <div class="f-fr u-statistics">
                                <span class="view">1244</span>
                                <span class="time">03/12</span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail')}" target="_blank">
                                <img src="__UPLOAD__/images/pro-img-02.jpg" alt="人氣鹹蛋魚皮！新加坡過江龍">
                            </a>
                        </div>
                        <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                            <div class="f-fr u-statistics">
                                <span class="view">1244</span>
                                <span class="time">03/12</span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail')}" target="_blank">
                                <img src="__UPLOAD__/images/pro-img-03.jpg" alt="人氣鹹蛋魚皮！新加坡過江龍">
                            </a>
                        </div>
                        <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                            <div class="f-fr u-statistics">
                                <span class="view">1244</span>
                                <span class="time">03/12</span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail')}" target="_blank">
                                <img src="__UPLOAD__/images/pro-img-03.jpg" alt="人氣鹹蛋魚皮！新加坡過江龍">
                            </a>
                        </div>
                        <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                            <div class="f-fr u-statistics">
                                <span class="view">1244</span>
                                <span class="time">03/12</span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail')}" target="_blank">
                                <img src="__UPLOAD__/images/pro-img-03.jpg" alt="人氣鹹蛋魚皮！新加坡過江龍">
                            </a>
                        </div>
                        <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                            <div class="f-fr u-statistics">
                                <span class="view">1244</span>
                                <span class="time">03/12</span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail')}" target="_blank">
                                <img src="__UPLOAD__/images/pro-img-03.jpg" alt="人氣鹹蛋魚皮！新加坡過江龍">
                            </a>
                        </div>
                        <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                            <div class="f-fr u-statistics">
                                <span class="view">1244</span>
                                <span class="time">03/12</span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail')}" target="_blank">
                                <img src="__UPLOAD__/images/pro-img-03.jpg" alt="人氣鹹蛋魚皮！新加坡過江龍">
                            </a>
                        </div>
                        <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                            <div class="f-fr u-statistics">
                                <span class="view">1244</span>
                                <span class="time">03/12</span>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="img-box">
                            <a href="{:U('Article/detail')}" target="_blank">
                                <img src="__UPLOAD__/images/pro-img-03.jpg" alt="人氣鹹蛋魚皮！新加坡過江龍">
                            </a>
                        </div>
                        <a href="{:U('Article/detail')}" target="_blank" class="title" title="人氣鹹蛋魚皮！新加坡過江龍">【邊間最好食】Top7 人氣鹹蛋魚皮！新加坡過江龍</a>
                        <div class="f-cb foot-info">
                            <a href="{:U('Article/index')}" class="f-fl category">旅游</a>
                            <div class="f-fr u-statistics">
                                <span class="view">1244</span>
                                <span class="time">03/12</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="g-s-side f-fr">
                <div class="g-column-wrap">
                    <div class="m-bar-default">
                        <h2 class="title">人气排行</h2>
                    </div>
                    <ul class="m-imgtext m-imgtext-sm">
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-01.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">帶着媽媽去旅行！嚴選4間媽媽必冧性價比極高大阪住宿</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-02.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">明明五官没变，为什么倪妮能完成去“土气”逆袭之路？</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-03.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">和景甜拍拖的直男张继科连口红都分不清</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="u-ad">
                    <a href="" target="_blank">
                        <img src="__UPLOAD__/images/ad-sm-01.jpg" alt="" width="100%" height="230">
                    </a>
                </div>
                <div class="g-column-wrap">
                    <div class="m-bar-default">
                        <h2 class="title">人气排行</h2>
                    </div>
                    <ul class="m-imgtext m-imgtext-sm">
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-01.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">帶着媽媽去旅行！嚴選4間媽媽必冧性價比極高大阪住宿</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-02.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">明明五官没变，为什么倪妮能完成去“土气”逆袭之路？</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-03.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">和景甜拍拖的直男张继科连口红都分不清</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <a href="" class="img-box">
                                <img src="__UPLOAD__/images/s-pro-img-04.jpg" alt="">
                            </a>
                            <div class="text-box">
                                <a class="title" href="">40岁的女性夏季怎么穿才减龄又时尚，刘涛、袁泉都爱这样穿</a>
                                <div class="u-statistics">
                                    <span class="view">1244</span>
                                    <span class="time">03/12</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer ad -->
    <div class="g-wrap">
        <div class="w-main">
            <div class="u-ad-ft">
                <a href="" target="_blank">
                    <img src="__UPLOAD__/images/big-ad-img.png">
                </a>
            </div>
        </div>
    </div>

    <!-- footer -->
    <include file="Template/footer" />
</body>

</html>
<script src="__PUBLIC__/Js/plugins/swiper/swiper.min.js"></script>
<script>
    var swiper = new Swiper('#index-banner', {
        autoplay: 5000,
        speed: 1000,
        pagination: '.swiper-pagination',
        paginationClickable: true,
    });
</script>