<div class="panel">
    <div class="panel-body">
        <div class="u-page-title">
            <span class="caption">Introduce</span>
        </div>
        <div class="m-introduce-form">
            <form name="studio-introduce-form" class="form form-horizontal" action="{:U('introduceupdate')}">
                <input type="hidden" name="id" value="{$introduce['id']}">
                <div class="form-group">
                    <label class="col-xs-2 control-label">The First paragraph:</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" name="big_fonts" rows="5">{$introduce["big_fonts"]}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">The Second:</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" name="small_fonts" rows="5">{$introduce["small_fonts"]}</textarea>
                    </div>

                </div>


                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-2">
                        <button type="submit" class="form-control btn-info">Send</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="u-page-title">
            <span class="caption">Founders</span>
            <a href="{:U('add',array('navid'=>$_GET['navid'],'cid'=>$_GET['cid']))}" class="btn btn-info">Add</a>
        </div>
        <table class="table js-table-list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th width="200">Operation</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="data" item="list">
                    <tr>
                        <td>{$list['en_name']}</td>
                        <td class="operation-box">
                            <a
                                href="{:U('edit',array('navid'=>$_GET['navid'],'id'=>$list['id'],'cid'=>$list['cid']))}">Modify</a>
                            <a href="javascript:" data-url="{:U('del',array('id'=>$list['id']))}"
                                class="js-del-one">Delete</a>
                        </td>
                    </tr>
                </foreach>

            </tbody>
        </table>
        <div class="m-pagination">{$page}</div>
    </div>
</div>