<link rel="stylesheet" href="__PUBLIC__/Js/plupload-2.3.6/js/jquery.plupload.queue/css/jquery.plupload.queue.css" type="text/css"
    media="screen" />
<style>
.upload-img{
width:100%;
}
.file-item {
margin-bottom:10px;
}
.file-name {
    margin-bottom:10px;
}
.color-box {
    display: inline-block;
    width:16px;
    height: 16px
}
</style>
<div class="panel">
    <div class="panel-body">
        <div  class="u-page-title"><span class="caption">Modify</span> </div>
        <form name="news-form" class="form form-horizontal" action="{:U('update',array('navid'=>$_GET['navid'],'id'=>$data['id']))}">
            <input type="hidden" name="cid" value="{$data['cid']}">
            <div class="form-group">
                <label class="control-label col-xs-1">Title:</label>
                <div class="col-xs-8">
                    <input type="text" name="title" class="form-control" value="{$data['title']}">
                </div>
            </div>
            <div class="form-group">
                    <label class="control-label col-xs-1">Show on home page:</label>
                    <div class="col-xs-7">
                        <label class="radio-inline">
                            <input type="radio" name="recommend" value="1" <eq name="data['recommend']" value="1">checked</eq> />Yes</label>
                        <label class="radio-inline">
                            <input type="radio" name="recommend" value="0" <eq name="data['recommend']" value="0">checked</eq>  />No</label>
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label col-xs-1">From:</label>
                <div class="col-xs-8">
                    <input type="text" name="origin" class="form-control" value="{$data['origin']}">
                </div>
            </div>
<!--             <div class="form-group">
                <label class="control-label col-xs-1">外部链接:</label>
                <div class="col-xs-8">
                    <input type="text" name="url" class="form-control" value="{$data['url']}">
                </div>
            </div> -->
            <div class="form-group">
                <label class="control-label col-xs-1">Keywords:</label>
                <div class="col-xs-8">
                    <input type="text" name="keywords" class="form-control" value="{$data['keywords']}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">Description:</label>
                <div class="col-xs-8">
                    <textarea name="description" class="form-control">{$data['description']}</textarea>
                </div>
                <div class="col-xs-3 js-tips"></div>
            </div>
            <div class="form-group">
                    <label class="control-label col-xs-1">Pictures:</label>
                    <div class="col-xs-6">
                        <input type="hidden" name="picture" id="js-upload-files-input" value="{$data['picture']}">
                        <div id="upload-file-list">
                            <notempty name="data['picture']">
                                <foreach name="data['picture_arr']" item="pic">
                                    <div class="row file-item">
                                        <div class="col-xs-4"><img class="upload-img" src="__UPLOAD__/plupload/{$pic}"
                                                alt=""></div>
                                        <div class="col-xs-8">
                                            <div class="file-name">{$pic}</div>
                                            <div class="js-del-btn btn btn-default">Delete</div>
                                        </div>
                                    </div>
                                </foreach>
                            </notempty>
                        </div>
                        <div>
                            <span class="btn btn-info" id="js-show-uploader">Upload</span>
                            <span>(width:710px;height:auto)</span>
                        </div>
                        <div class="modal fade" id="js-uploader-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div id="uploader" data-upload-url="{:U('Plupload/upload')}">
                                            <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label col-xs-1">Content:</label>
                <div class="col-xs-8">
                    <script id="editorContainer" name="content">{$data['content']}</script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-1"><button type="button" class="form-control btn-default" onclick="window.history.back()">Back</button></div>
                <div class="col-xs-4"><button type="submit" class="form-control btn-info">Send</button></div>

            </div>
        </form>
    </div>
</div>