<!-- Breadcrumb Section Start -->
<div class="breadcrumb-section section bg_color--5 pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-breadcrumb-content">
                    <ul class="page-breadcrumb">
                        <li><a href="{:U('Index/index')}">首页</a></li>
                        <li>{$pageName}</li>
                    </ul>
                    <h1>{$pageName}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Start -->

<div class="blog-section section bg_color--5 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
    <div class="container">

        <ul class="m-news-list blog-wrapper mt-40">
            <foreach name="outData['news']" item="list">
                <li>
                    <div class="time">
                        <span class="days">{$list['day']}</span>
                        <span class="y-m">{$list['year']}-{$list['month']}</span>
                    </div>
                    <div class="right-info">
                        <h5 class="n-title"><a href="{$list['realurl']}" target="_blank">{$list['title']}</a> </h5>
                        <p class="desc">{$list['description']}</p>
                    </div>
                </li>
            </foreach>

        </ul>

        <div class="m-paging">
            {$outData['page']}
        </div>
    </div>
</div>