<div class="sub-banner" style="background-image:url({$Think.UPLOAD}/images/{$outData.banner})"></div>
<div class="content-wrap">
    <style>
        .part-1 {margin-bottom:40px;font-size:16px;line-height:36px;}
        .part-1 h3 {margin-bottom:20px;font-size:28px;font-weight:400;}
        .part-1 p {color:#777;}
    </style>
<php>
    if($_GET['id'] == 1){

</php>

    <div class="part-1 clearfix">
        <div class="k1120">
            <h3 style="padding-left:400px;">小额分散的投资，降低投资风险</h3>
            <p style="height:200px;padding:40px 400px 0 0;background:url({$Think.UPLOAD}/images/detail-01.png) no-repeat right top;">在快速理财的同时，投资人资金分散于购买平安理财网严格筛选出的风险可控型产品。这些产品分别对应各大型机构、专业领域、稳定行业，从而利用小额分散的原理有效地降低风险在快速理财的同时，投资人资金分散于购买平安理财网严格筛选出的风险可控型产品。这些产品分别对应各大型机构、专业领域、稳定行业，从而利用小额分散的原理有效地降低风险。</p>
        </div>


    </div>

    <div class="part-1" style="padding: 50px 0;background-color:#f7f9fa;">
        <div class=" k1120  clearfix">

            <div style="padding-left:400px;background:url({$Think.UPLOAD}/images/detail-02.png) no-repeat left top;">
            <h3>严格规范的信审风控流程</h3>
                <p>
                    拥有自己专业的风控和法务团队，对借款项目及合作机构进行严格筛选，具体包括合作机构筛选、业务及风控对接、借款项目受理、项目经理收集项目资料并初审、风控部复审、评审委员综合评审、落实各项风控措施、上线审核、贷后管理，层层手续，严格把关，严控信用风险，以保障借款人按期收回本息
                </p>
            </div>
        </div>
    </div>

    <div class="part-1  clearfix">
        <div class="k1120">
            <h3 style="padding-left:400px;">网站平台及资金安全</h3>
            <p>采用国际标准的SSL数据传输安全加密技术，对系统数据进行安全备份，并聘请国内专业的网络安全专家团队对系统进行安全评估，以保障数据信息安全。与多家第三方支付系统平台建立合作关系。投资人和借款人的资金交易，均通过第三方支付来实现，以保障用户的资金安全</p>
        </div>
    </div>

    <php>}else {</php>
        <div class="part-1">
            <div class="k1120">
                <h3 style="line-height:60px;text-align: center">平台介绍</h3>
                <p>是一家专注于生活服务的互联网金融平台。出借预期年化收益率9%-12%。平台坚持以稳健、透明的运营方针，以互联网为主要渠道，为借款企业与出借人（即贷款人）实现直接借贷提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。通过采用互联网技术，能有效缩短资金获取周期，降低融资成本，提高出借收益，增强资金流动效率。
                    平台拥有专业的风险管理（控制）团队，采用质押借贷资产，以中小额短期借款为主，结合严密的风控体系和风险准备金有限垫付计划，分散风险，并通过债权转让满足出借人资金流动性的需求。
                    依托金融信息化创新技术，平台为广大用户提供“低风险、高收益、全透明、多样化”的互联网理财服务，为中国生活服务类经济体解决融资需求问题。
                    平台自2014年9月19日上线至今，累计交易额超过6亿元，平安理财网于近期完成A+轮数千万融资，由知名风险投资机构安芙兰投资</p>
            </div>
        </div>

    <div class="part-1" style="padding:50px 0;color:#fff;background:url({$Think.const.MODULE_ASSET}images/timg-1.jpg?v=2) no-repeat center;">
        <div class="k1120 m-contact">
            <h3 style="line-height:60px;text-align: center">联系我们</h3>
            <ul class="item-box clearfix">
                <li>
                    <img src="{$Think.const.MODULE_ASSET}images/img-tel.png" alt="">
                    <p>服务热线：400-8888-8888</p>
                </li>
                <li>
                    <img src="{$Think.const.MODULE_ASSET}images/img-email.png" alt="">
                    <p>邮箱：XXXXXXXX@google.com</p>
                </li>
                <li class="wechat">
                    <img src="{$Think.const.MODULE_ASSET}images/img-wechat.png" alt="">
                    <p>扫码关注官方微信</p>
                </li>
                <li>
                    <img src="{$Think.const.MODULE_ASSET}images/img-qq.png" alt="">
                    <p>客服QQ：222999888</p>
                </li>
                <li>
                    <img src="{$Think.const.MODULE_ASSET}images/img-weibo.png" alt="">
                    <p>官方微博：<a href="">www.weibo.com/XXXX</a> </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="part-1">
        <div class="k1120">
            <h3 style="line-height:60px;text-align: center">办公环境</h3>
            <div style="text-align:center;">
                <img src="{$Think.const.MODULE_ASSET}images/office-01.jpg">
                <img src="{$Think.const.MODULE_ASSET}images/office-02.jpg">
                <img src="{$Think.const.MODULE_ASSET}images/office-03.jpg">
                <img src="{$Think.const.MODULE_ASSET}images/office-04.jpg">
            </div>
        </div>
    </div>
    <php>}</php>
</div>