<div class="g-wrap m-hd">
    <div class="w-main g-row-bt" style="height:100%;">
        <h1 class="u-logo">
            <a href="{:U('index')}}"></a>
        </h1>
        <div class="qrcode-box">
                <div class="item">
                    <img src="__WEB_ASSET__/images/qrcode-gzh.jpg?v=1" alt="公众号二维码">
                    <p>公众号</p>
                </div>
                <div class="item">
                    <img src="__WEB_ASSET__/images/qrcode-xcx.jpg?v=1" alt="珠港澳网小程序码">
                    <p>小程序</p>
                </div>
            </div>

    </div>
</div>
<div class="g-wrap m-nav">
    <div class="w-main g-row-bt">
        <div class="nav-list">
                <a href="{:U('Index/index')}" class="<notempty name='isIndex'>active</notempty>">首页
                    <foreach name="nav" item="vo">
                </a><a href="{$vo['url']}" class="{$vo['isActive'] ? 'active':''}">{$vo['title']}
                    </foreach>
                </a>
        </div>
        <div class="m-top-search">
                <form action="{:U('Article/search')}" method="GET">
                    <div class="input-wrap">
                        <input type="text" name="keyword" maxlength="50" placeholder="请输入关键字">
                        <input type="submit" value="搜索">
                    </div>
                </form>
                <!--             <div class="tags">
                    <span>热门搜索：</span>
                    <a href="">好玩</a>
                    <a href="">折扣</a>
                    <a href="">酒店</a>
                    <a href="">美食</a>
                </div> -->
            </div>

    </div>
</div>