@charset "utf-8";
/* CSS Document */
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

[hidefocus], summary {
    outline: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

sup, sub {
    font-size: 83%;
}

pre, code, kbd, samp {
    font-family: inherit;
}

q:before, q:after {
    content: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label, summary {
    cursor: default;
}

a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: bold;
}

del, ins, u, s, a, a:hover {
    text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
    font: 12px/1.2 "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53;
    color: #666;
    outline: 0;
}

body {
    background: #f8f8f8;
    font-size: 14px;
}

a {
    color: #333;
}

a:hover {
    color: #df020f;
}

::-webkit-scrollbar-thumb {

    /*border-radius:4px;*/
    background-color: #c6c6c6;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/* function */
.f-cb:after, .f-cbli li:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}

.f-cb, .f-cbli li {
    zoom: 1;
}

.f-ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.f-dn {
    display: none;
}

.f-db {
    display: block;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-pr {
    position: relative;
}

.f-prz {
    position: relative;
    zoom: 1;
}

.f-oh {
    overflow: hidden;
}

.f-toe {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.f-mr-t-10 {
    margin-top: 10px;
}

.f-mr-t-16 {
    margin-top: 16px;
}

.f-text-center {
    text-align: center;
}

.f-text-right {
    text-align: right;
}

/*  grid */
.w-main {
    width: 960px;
}

.g-hd {
    margin-bottom: 10px;
    height: 80px;
    background-color: #fff;
    border-bottom: 5px solid #eee;
}

.g-m-w {
    margin: 0 auto;
    width: 960px;
}

.g-bd {
    margin: 0 auto;
    padding: 10px;
    width: 940px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.g-ft {
    margin-top: 30px;
    padding-top: 30px;
    height: 90px;
    background-color: #ddd;
    text-align: center;
    color: #999;
}

.g-mn {
    float: left;
    width: 680px;
}

.g-sd {
    float: right;
    padding-left: 10px;
    width: 240px;
    background: #fff;
}

/**module**/
.m-nav {
    float: right;
    margin-top: 30px;
}

.m-nav li {
    float: left;
    margin-left: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.m-login .form-itm .ipt-text {
    width: 168px;
}

.m-login .form-itm {
    padding: 10px 0 0;
    line-height: 30px;
}

.m-login .lab {
    float: left;
    width: 40px;
}

.m-login .ipt {
    float: right;
    width: 180px;
    text-align: right;
}

.m-login .btn {

    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: 0;
    text-align: center;
    background-color: #b80404;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    /*word-spacing: 5px;*/
    letter-spacing: 15px;
}

.m-login .btn:hover {
    background-color: #de0303;
}

.m-ls-img .ls {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.m-ls-img .ls:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.m-ls-img a {
    display: block;
}

.m-ls-img .img {
    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.m-ls-img .img img {
    width: 100%;
    transition: transform .3s;
}

.m-ls-img .img img:hover {
    transform: scale(1.2);
}

.m-ls-img .text .title {
    line-height: 1.5;
    font-size: 16px;
    color: #222;
}

.m-ls-img .text .desc {
    margin-top: 10px;
    color: #999;
}

.m-ls-img .text .ft {
    margin-top: 10px;
    color: #999;
    text-align: right;
}

.m-location {
    margin-bottom:20px;
    padding: 10px;
    border-bottom:2px solid #ddd;
}

.m-location, .m-location a {
    color: #999;
}

.m-location a {
    margin: 0 5px;
}

.m-location .cur {
    margin-left: 5px;
}

.m-download-ls-1 li {
    position: relative;
    padding: 8px 0 8px 20px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: url(images/download-1.png) no-repeat left center;
}

/*.m-download-ls-1 li:before {

    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/download-1.png) no-repeat center;
    vertical-align: middle;
}*/

/***unit**/
.u-logo {
    float: left;
    margin-top: 10px;
    width: 300px;
    height: 70px;
    background: url(images/shimadzu_logo.gif) no-repeat left center;
}

.u-ipt {
    padding: 5px;
    height: 17px;
    border: 1px solid #D9D9D9;
    border-top-color: #c0c0c0;
    line-height: 17px;
    font-size: 14px;
    color: #777;
    background: #fff;
}

.u-ft-link {
    margin-bottom: 10px;
    text-align: center;
}

.u-ft-link li {
    display: inline-block;
    padding: 0 10px;
}

.u-ft-link a:link {
    color: #999;
}

.u-bar-1 {
    height: 34px;
    line-height: 34px;
    border-bottom: 2px solid #eee;
}

.u-bar-1 .caption {
    position: relative;
    margin-bottom: 2px;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    border-bottom: 2px solid #df020f;
    font-size: 16px;
    color: #222;
}

.u-bar-2 {
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    background-color: #ddd;
    border-bottom: 1px solid #fff;
}

.u-bar-2 .caption {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    color: #222;
}

.u-cat-name {
    position: relative;
    padding-left: 55px;
    width: 165px;
    height: 50px;
    line-height: 50px;
    background: #000 url(images/ls.png) no-repeat 16px center;
    color: #fff;
    font-size: 16px;

}

/******/
#main-page > .g-bd {
    min-height: 500px;
}

.m-paging {
    margin-bottom: 30px;
    text-align: center;
}

.m-paging a, .m-paging span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #ddd;
    color: #999;
    margin-right: 10px;
}

.m-paging a:hover {
    border-color: #999;
    color: #666;
}

.m-paging .cur {
    background-color: #df020f;
    color: #fff;
    border-color: #df020f;
}

.m-pop-wrap {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
}

.m-pop-wrap .content-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    background-color: #fff;
}

.m-pop-wrap .content-wrap .bar {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background-color: #eee;
    color: #333;
}

.m-main-form .form-itm {
    padding: 10px 0;
}

.m-main-form .form-itm:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.m-main-form .lab {
    display: inline-block;
    margin-right: 20px;
    width: 120px;
    text-align: right;
}

.m-main-form .ipt {
    display: inline-block;
}

.m-main-form .btn {

    display: inline-block;
    height: 34px;
    line-height: 34px;
    border: 0;
    text-align: center;
    background-color: #b80404;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    /*word-spacing: 5px;*/
    letter-spacing: 15px;
}

.m-main-form .ipt-text {
    padding: 5px;
    height: 17px;
    line-height: 17px;
    font-size: 14px;
}

.m-sub-nav {
    width: 210px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.m-sub-nav a {
    display: block;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    color: #fff;

}

.m-sub-nav > li > a {
    border-bottom: 1px solid #222;
}

.m-sub-nav .parent {
    border-bottom: 1px solid #111;
}

.m-sub-nav .parent:after {
    float: right;
    margin-top: 9px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/down.png) no-repeat center;
    vertical-align: middle;
}

.m-sub-nav .parent:hover {
    background-color: #333;
}

.m-sub-nav a:hover {
    background-color: #222;
}

.m-sub-nav .child {
    background-color: #242424;
}

.m-sub-nav .child > li > a {
    padding-left: 40px;
    border-bottom: 1px solid #111;
    background-image: url(images/left-1.png);
    background-repeat:no-repeat;
    background-position:15px center;
}
.m-sub-nav .cur,.m-sub-nav .child > li > .cur:hover,.m-sub-nav .cur:hover {background-color:#df020f;}

.m-sub-nav .child > li > a:hover {
    background-color: #1c1c1c;
}

.m-article li {
    position:relative;
    margin-bottom:10px;
    padding:0 0 10px 70px;
    border-bottom:1px solid #ddd;
}
.m-article li:after {
    content:"";
    clear:both;
    visibility:hidden;
    display:block;
}
.m-article .thumb {
    float:left;
    display:inline-block;
    margin-right:20px;
    width:200px;
    overflow:hidden;
}
.m-article .thumb img {width:200px;transition:transform .3s;}
.m-article .thumb img:hover {transform:scale(1.2);}
.m-article .time {
    position:absolute;
    left:0;
    top:0;
    width:60px;
    height:70px;
    overflow:hidden;
    background-color:#999;
    color:#fff;
    text-align:center;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}
.m-article .time .date {
    display: block;
    padding-top:5px;
    height:30px;
    line-height:30px;
    font-size:18px;
}
.m-article .time .year {color:#ccc;}
.m-article .title {display:block;margin-bottom:10px;font-size:18px;}
.m-article .desc {color:#999;line-height:1.5;}
.m-article .viewMore {display: inline-block;margin-top:5px;}

.m-article-detail .top-info {
    margin-bottom:20px;
    padding-bottom:10px;
    border-bottom:1px solid #ddd;
    text-align:center;
    color:#999;
}
.m-article-detail .top-info span {margin-right:10px;}
.m-article-detail .title {
    margin-bottom:10px;
    font-size:22px;
    color:#222;
    text-align:center;
}
.m-article-detail .content {line-height:1.5;}
.m-article-detail img {max-width:100%;}