<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="renderer" content="webkit|ie-comp|ie-stand" />
  <meta name="author" content="中拉网" />
  <title>{$siteTitle|default=$baseInfo['site_name'].'-'.$pageName}</title>
  <meta name="keywords" content="{$siteKeywords|default=$baseInfo['keywords']}" />
  <meta name="description" content="{$siteDescription|default=$baseInfo['description']}" />
  <link href="__PUBLIC__/Js/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/Js/swiper/css/swiper.min.css" rel="stylesheet" />
  <link href="__WEB_ASSET__/css/base.css?t={:date('ymd',time())}" rel="stylesheet" />
  <link href="__WEB_ASSET__/css/index.css?t={:date('ymd',time())}" rel="stylesheet" />
  <script type="text/javascript" src="__PUBLIC__/Js/jquery/jquery-1.10.1.min.js"></script>
</head>

<body>
  <include file="Template/header" />


  <!--banner-->
  <div class="m-banner-wrap">
    <div class="container">
      <div class="banner column-banner">
          <notempty name="banner['img']">
              <img src="__UPLOAD__/banner/{$banner.img}" alt="">
          </notempty>  
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div id="sideBar" class="m-side-nav">
          <h3 class="parentCateName">{$parentName}<br><span class="small">{:strtoupper($parentEnName)}</span></h3>
          <ul class="cateList">{$childNavHtml}</ul>
        </div>
      </div>
      <div class="col-sm-9" id="bigContentBox">
        <div class="contentTopBar clearfix">
          <h4 class="pageName">{$curCateName}</h4>
          <div class="location hidden-xs">
            当前位置：<a href="/">首页</a><span class="fg">&gt;</span>{$pageName}<span class="fg">&gt;</span>{$curCateName}
          </div>
        </div>
        <div class="m-content-wrap">{__CONTENT__}</div>
      </div>
    </div>


  </div>

  <!-- footer -->
  <include file="Template/footer" />

</body>

</html>
<script type="text/javascript" src="__PUBLIC__/Js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/swiper/swiper.min.js"></script>
<script type="text/javascript" src="__WEB_ASSET__/js/main.js"></script>
