<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">添加Banner</div>
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <p>Size:suggest width 1920px,height:1080px</p>
            <!-- <p>其他Banner尺寸，高度必须为300px,宽度795px</p> -->
        </div>
        <form name="banner-form" class="form form-horizontal" action="{:U('save')}" role="form">
            <input type="hidden" name="position_key" value="0">
            <div class="form-group">
                <label class="control-label col-xs-1"><span class="text-danger">*</span>Image(for PC,required):</label>
                <div class="col-xs-2">
                    <div class="m-thumbnail-upload" id="js-thumb-upload-panel">
                        <a href="javascript:" class="add-btn js-add-btn"><i
                                class="glyphicon glyphicon-plus-sign"></i></a>
                        <div class="thumb-box hidden">
                            <img class="thumb" style="">
                            <span class="del-btn">删除</span>
                        </div>
                        <input type="file" name="img" class="js-file-input" style="display: none;">
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">Small(for mobile)</label>
                <div class="col-xs-6">
                    <input type="hidden" name="small_img" id="js-banner-input" value="{$data['small_img']}">
                    <div id="js-banner-filelist">
                    </div>
                    <div id="js-banner">
                        <a id="pickfiles" data-upload-url="{:U('Plupload/banner')}" class="btn btn-default"
                            href="javascript:;">Select
                            files</a>
                        <a id="uploadfiles" class="btn btn-primary" href="javascript:;">Upload files</a>
                        <span>(minimum size:width:1920px,height:1080px)</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">Sort:</label>
                <div class="col-xs-1">
                    <input type="number" name="sort" class="form-control" value="0">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">Title:</label>
                <div class="col-xs-4">
                    <input type="text" name="title" class="form-control" value="" placeholder="15个字符以内">
                </div>
                <div class="col-xs-3 js-tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">Url:</label>
                <div class="col-xs-4">
                    <input type="text" name="url" class="form-control" value="" placeholder="完整地址，以http或https开头">
                </div>
                <div class="col-xs-3 js-tips"></div>
            </div>


            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-1">
                    <button type="button" class="form-control btn-default" onclick="window.history.back()">Back</button>
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="form-control btn-info">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>