<div class="panel panel-default">

    <div class="panel-heading">
        <a href="{:U('add')}" class="btn btn-info">Add Banner</a>
    </div>

    <div class="panel-body">

        <table class="table js-table-list">
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th width="400">Url</th>
                    <th width="80">Status</th>
                    <th width="120">Operation</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="info" item="list">
                    <tr>
                        <td>
                            <img class="u-banner-thumb" src="__UPLOAD__/banner/{$list['img']}">
                        </td>
                        <td>{$list['url']}</td>
                        <td>
                            <if condition="$list['status'] eq 1">
                                <span class="text-success">Show</span>
                                <else/> Hide
                            </if>
                        </td>
                        <td class="operation-box">
                            <a href="{:U('edit',array('id'=>$list['id']))}">Modify</a>
                            <a href="javascript:" data-url="{:U('del',array('id'=>$list['id']))}" class="js-del-one">Delete</a>
                        </td>
                    </tr>
                </foreach>

            </tbody>
        </table>


    </div>
    <div class="panel-footer">
        <div class="m-pagination">
            {$pagination}
        </div>
    </div>
</div>