<notempty name="data">
        <ul class="m-imgtext m-imgtext-big">
                <foreach name="data" item="vo">
                    <li class="item">
                        <if condition="$vo['thumb']">
                            <a href="{:U('detail',array('cid'=>$vo['cid'],'id'=>$vo['id']))}" class="img-box">
                                <img src="__UPLOAD__/thumb/{$vo['thumb']}" alt="{$vo['title']}">
                            </a>
                        </if>
            
                        <div class="text-box">
                            <a class="title" href="{:U('detail',array('cid'=>$vo['cid'],'id'=>$vo['id']))}">{$vo['title']}</a>
                            <p class="desc">{$vo['description']}</p>
                            <p class=""><span class="glyphicon glyphicon-time"></span>{$vo['times']}</p>
                            <p class=""><span class="glyphicon glyphicon-map-marker"></span>{$vo['place']}</p>
                        </div>
                    </li>
                </foreach>
            
            </ul>
            
            <div class="m-pagination">
                {$page}
            </div>
    <else/>
    <div class="m-empty">
        <img src="__WEB_ASSET__/images/null-page-draw.png">
        <div class="tips">暂无相关记录！</div>
    </div>
</notempty>
