<div class="panel panel-default">
    <div class="panel-heading">
    <eq name="questionInfo['stage']" value="1">
        <span class="btn btn-success btn-sm">已解决</span>
        <else/>
        <span class="btn btn-danger btn-sm">未解决</span>
    </eq>
        {$questionInfo['title']}
    </div>
    <div class="panel-body">
        <div class="m-question-info">
            <div class="desc">{$questionInfo['content']}</div>
        </div>
    </div>
    <div class="panel-footer" style="background-color: #fff;font-size: 12px;color:#999;">
        <span class="">发布时间：{$questionInfo["create_time"]}</span>
    </div>

</div>
<div class="panel panel-default" id="js-reply-form-box" style="display: none;">
    <div class="panel-heading">
        修改回答
    </div>
    <div class="panel-body">
        <form action="{:U('Question/doreply')}" method="post" id="replyForm">
            <input type="hidden" name="id" value="{$Think.get.aid}">
            <div class="form-group">
                <textarea class="form-control" name="content" rows="10" maxlength="2000">{$answerInfo["content"]}</textarea>
            </div>
            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-3">
                    <button type="button" class="btn btn-default btn-block" id="js-cancel-reply-btn">取消</button>
                </div>
                <div class="col-xs-4 ">
                    <button type="submit" class="btn btn-info btn-block">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default m-answer-detail" id="js-my-answer-box">
    <div class="panel-heading">
        我的回答
        <span class="btn btn-sm btn-info pull-right" id="js-reply-edit-btn">
            <i class="glyphicon glyphicon-pencil"></i>修改
        </span>
    </div>
    <div class="panel-body">
        <div class="desc">{$answerInfo['content']}</div>
    </div>
    <div class="panel-footer other-info">
        <span style="margin-right:24px;">回答时间：{$answerInfo["create_time"]}</span>
        <if condition="$answerInfo['last_update']">
            <span style="margin-right:24px;">最后修改于：{$answerInfo["last_update"]}</span>
        </if>
        <span >满意：{$answerInfo['satisfaction_num']}</span>
        <span>没用：{$answerInfo['dissatisfaction_num']}</span>
        <span>感谢{$answerInfo['think_num']}</span>
    </div>

</div>
