<div class="g-ft" id="footer">
    <div class="w-main">
        <div class="content-box">
<!--             <div class="link">
                <foreach name="otherPage" item="vo">
                    <a href="{:U('Single/index',array('cid'=>$vo['pid'],'id'=>$vo['id']))}" target="_blank">{$vo['title']}</a>
                    <span class="fg">|</span>
                </foreach>
            </div> -->
            <p class="copyright">©2018 {$baseInfo['site_name']} All rights reserved {$baseInfo['icp']}</p>
<!--             <div class="link">
                <span>友情链接：</span>
                <a href="https://www.aliyun.com/" target="_blank">阿里云</a>
                <a href="https://www.baidu.com/" target="_blank">百度</a>
            </div> -->
        </div>

    </div>
</div>