@charset "utf-8";
/* CSS Document */
#index-banner {
	width:100%;
	height:5rem;
	overflow: hidden;
	background-color:#222;
}
#index-banner .bg {
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	/* background-size:cover; */
}
.swiper-pagination-bullet {width:12px;height:12px;border:1px solid #fff;opacity: .5;}
.swiper-pagination-bullet-active {background:#e94480;opacity: 1;}
.swiper-slide {background-position:center;background-size:cover;background-repeat: no-repeat;}
#index-recomment {
	padding-bottom:.32rem;
	background-color:#eee;
}
#index-recomment .w-main {
	background:#fff;
}
#index-recomment .pic-list {
	display: -webkit-box;
	-webkit-box-pack: justify;
}
#index-recomment .pic-list .item {
	width:30%;
}
/* category column */
#column-banner {width:100%;height:4rem;background-color:#2b2b2b;}
#column-banner .title {
	display: block;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	z-index: 99;
	padding:0 10px;
	height:60px;
	line-height:60px;
	background-color:rgba(0,0,0,.7);
	color:#fff;
	font-size:20px;
	overflow: hidden;
}
.m-bar-border-top {margin-top:20px;border-top:2px solid #2b2b2b;}
.m-bar-border-top .title {
	line-height: 46px;
	font-size:20px;
	font-weight:400;
	color:#666;
}
.m-article-detail {
	padding-top:30px;
}
.m-article-detail .content {
	margin-top:5px;
	padding-top:20px;
	padding-bottom:40px;
	font-size:18px;
	color:#5e6267;
}
.m-article-detail .content img {
	display: block;
	max-width: 100%;
	margin:.6em auto;
}
.m-article-detail .title {
	font-size: .48rem;
    line-height: 1.4;
    margin-bottom: .32rem;
    color: #366bcb;
	margin-top: .1rem;
	/* text-align: center; */
}
.m-article-detail  .statistics {
	border-bottom:1px solid #ddd;
	text-align:center;
}
.m-article-detail  .statistics {
	color:#939393;
}
.m-article-detail  .statistics .view {margin-right:.32rem;}
.m-article-detail .end {
	margin:80px 0 40px;
	height:50px;
	text-align: center;
	border-top:1px solid #ddd;
	position: relative;
}
.m-article-detail .end span {
	position: absolute;
	left:50%;
	top:-30px;
	margin-left:-30px;
	display: inline-block;
	width:60px;
	height:60px;
	line-height: 60px;
	text-align: center;
	border:1px solid #ccc;
	border-radius: 50%;
	background-color:#fff;
	font-size:20px;
	color:#ccc;
}
.m-crumb {padding:20px 0; font-size:14px;}
.m-pic-row {
	margin-right:-15px;
}
.m-pic-row .item {
	float: left;
	margin-right:15px;
	width:255px;
	height:155px;
	overflow: hidden;
}
.m-pic-row a {
	display: block;
	position: relative;
	width:100%;
	height:100%;
}
.m-pic-row a:hover img {
	transform:scale(1.1);
}
.m-pic-row a:hover .title {
	background-color:rgba(0,0,0,.9);
}
.m-pic-row  img {
	width:100%;
	height:100%;
	transition: all .3s ease-out;
}
.m-pic-row .title {
	display: block;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	z-index:9;
	box-sizing: border-box;
	padding:0 10px;
	height:40px;
	line-height:40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#fff;
	background-color:rgba(0,0,0,.6);
	font-size: 16px;
	transition:background-color .3s ease-out;
}

#single-banner {margin-bottom:20px;height:100px;background:#2b2b2b;}
.m-side-nav {
	border-top:4px solid #999;
}
.m-side-nav a {
	display: block;
	height:40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	font-size:14px;
}
.single-s-side {
	float:left;
	width:240px;
}
.single-main-content {
	float:right;
	width:920px;
}
.single-main-content .bar {
	height:40px;
	line-height:40px;
	background-color:#eee;
}
.single-main-content .bar .title{
	padding:0 10px;
	font-size:20px;
	font-weight:400;
}
.single-main-content .content {
	padding:20px 20px 40px;
	min-height: 400px;
	font-size:14px;
	line-height:1.5;
	color:#5e6267;
}
.u-result-bar .result {
	font-size:14px;
	font-weight:100;
}
.u-result-bar .result .num {margin:0 10px;color:#cf034d;font-weight:bold;}
.m-search-empty {
	padding:40px 0;
	text-align: center;
	font-size:18px;
	color:#999;
	font-weight:100;
}
.m-search-empty .text {margin-top:20px;}

.m-ft-loading-box {
	text-align: center;
	font-size:.32rem;
	background-color:#f1f1f1;
}
.m-ft-loading-box .item {
	padding:.32rem 0;
}
.m-ft-loading-box .hide {
	display: none;
}
.m-ft-loading-box .btn {
	color:#6c6c6c;
}
.m-ft-loading-box .tips {
	color:#9c9c9c;
}