<style>

</style>
<div class="m-business-detail">
    <h1 class="title">{$info['title']}</h1>
    <div class="business-base-info">
        <div class="row">
            <div class="col-sm-6">
                联系电话:{$info['phone']}
            </div>
            <div class="col-sm-6">
                Email：{$info['email']}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                联系人:{$info['person']}
            </div>
            <div class="col-sm-6">
                发布时间:{$info['date']}
            </div>
        </div>
    </div>

    <div class="business-content-bar">
        <span class="caption">商机描述</span>
    </div>
    <div class="content">
        {$info['content']}
    </div>
    <div class="alert alert-danger">
        本网站不对所提供项目信息的真实性、准确性或可行性做出任何形式的保证，基于此信息而产生的任何法律后果与本网站无关。
    </div>
</div>