<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="__ROOT__/Admin/Assets/Js/jquery-1.10.1.min.js"></script>
</head>

<body>
    <h1>{$total}</h1>
    <table>
        <tr>
            <th>公司</th>
            <th>lng</th>
            <th>lat</th>
        </tr>
        <foreach name="list" item="item">
            <tr class="row">
                <td>{$item.comname}</td>
                <empty name="item.lng">
                    <td><input class="js-zuobiao" type="text" value="" tyle="width:120px;"></td>
                    <else />
                    <td>{$item.lng}</td>
                </empty>
                <empty name="item.lat">
                    <td>&nbsp;</td>
                    <else />
                    <td>{$item.lat}</td>
                </empty>
                <empty name="item.lat">

                    <td><a href="javascript:" class="js-update-btn" data-comname="{$item.comname}" data-id="{$item.id}">更新</a></td>
                </empty>
            </tr>
        </foreach>

    </table>
</body>

</html>
<script>
    $(".js-update-btn").click(function(){
        var zuobiao = $(this).parents(".row").find(".js-zuobiao").val()
        var comname = $(this).data("comname")
        var id= $(this).data("id")
        $.ajax({
            url:'{:U("do_update")}',
            type:"POST",
            data:{comname,zuobiao,id},
            success:function(res){
                if(res.status){
                    window.location.reload();
                }else {
                    alert(res.msg)
                }
            }
        })
    })
</script>