<div class="panel">
    <div class="panel-body">
        <div  class="u-page-title"><span class="caption">文章修改</span> </div>
        <form name="news-form" class="form form-horizontal" action="{:U('update',array('id'=>$data['id']))}">
            <input type="hidden" name="type" value="{$Think.get.type}">
            <input type="hidden" name="cid" value="{$Think.get.cid}">
            <div class="form-group">
                <label class="control-label col-xs-1">新闻标题:</label>
                <div class="col-xs-8">
                    <input type="text" name="title" class="form-control" value="{$data['title']}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1"><span class="text-danger">*</span>封面:</label>
                <div class="col-xs-3">
                    <div class="m-thumbnail-upload" id="js-thumb-upload-panel">
                        <empty name="data['thumb']">
                            <a href="javascript:" class="add-btn js-add-btn"></a>
                            <div class="thumb-box hidden"><img class="thumb" style=""><span class="del-btn">删除</span> </div>
                            <else/>
                            <a href="javascript:" class="add-btn js-add-btn hidden"></a>
                            <div class="thumb-box">
                                <img class="thumb" src="__UPLOAD__/thumb/{$data['thumb']}">
                                <span class="del-btn">删除</span>
                            </div>
                            <input type="hidden" class="js-old-thumb" name="old_img" value="{$data['thumb']}">
                        </empty>
                        <input type="file" name="thumb" class="js-file-input" style="opacity: 0" >
                    </div>
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">视频地址:</label>
                <div class="col-xs-4">
                    <textarea name="video" class="form-control">{$data['video']}</textarea>
                </div>
            </div>
            <div class="form-group">
                    <label class="control-label col-xs-1">是否推荐:</label>
                    <div class="col-xs-7">
                        <label class="radio-inline">
                            <input type="radio" name="recommend" value="1" <eq name="data['recommend']" value="1">checked</eq> />是</label>
                        <label class="radio-inline">
                            <input type="radio" name="recommend" value="0" <eq name="data['recommend']" value="0">checked</eq>  />否</label>
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label col-xs-1">其他设置:</label>
                <div class="col-xs-7">
                    <label class="radio-inline"><input type="radio" name="otherset" value="1" <eq name="data['otherset']" value="1">checked</eq>  />人气</label>
                    <label class="radio-inline"><input type="radio" name="otherset" value="2" <eq name="data['otherset']" value="2">checked</eq>  />热搜</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">显示状态:</label>
                <div class="col-xs-8">
                    <label class="radio-inline"><input type="radio" name="status" value="1" <if condition="$data['status'] eq 1">checked</if> />显示</label>
                    <label class="radio-inline"><input type="radio" name="status" value="0" <if condition="$data['status'] eq 0">checked</if> />隐藏</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">来源:</label>
                <div class="col-xs-8">
                    <input type="text" name="origin" class="form-control" value="{$data['origin']}">
                </div>
            </div>
<!--             <div class="form-group">
                <label class="control-label col-xs-1">外部链接:</label>
                <div class="col-xs-8">
                    <input type="text" name="url" class="form-control" value="{$data['url']}">
                </div>
            </div> -->
            <div class="form-group">
                <label class="control-label col-xs-1">关键词:</label>
                <div class="col-xs-8">
                    <input type="text" name="keywords" class="form-control" value="{$data['keywords']}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">新闻描述:</label>
                <div class="col-xs-8">
                    <textarea name="description" class="form-control">{$data['description']}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">内容详情:</label>
                <div class="col-xs-8">
                    <script id="editorContainer" name="content">{$data['content']}</script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-1"><button type="button" class="form-control btn-default" onclick="window.history.back()">返回列表</button></div>
                <div class="col-xs-4"><button type="submit" class="form-control btn-info">提交</button></div>

            </div>
        </form>
    </div>
</div>