<div id="loadingProgress"></div>
<div id="header" class="">
    <div class="g-main-wrap">
        <div class="title">金英港湾平台商家优惠券核销</div>
        <div class="home-top clearfix">
            <img src="{$businessInfo['thumb']}" alt="" srcset="" class="thumb">
            <div class="right-info">
                <p class="business-name">{$businessInfo["title"]}</p>
                <p>合同有效期至：{$businessInfo['end_date']}</p>
                <p>创建时间：{$businessInfo["create_time"]}</p>
            </div>
        </div>
    </div>
</div>