<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta name="keywords" content="{$baseInfo['keywords']}">
    <meta name="description" content="">
    <link href="__WEB_ASSET__/css/global.css" rel="stylesheet" />
    <link href="__WEB_ASSET__/css/swiper.min.css" rel="stylesheet" />
    <link href="__WEB_ASSET__/css/main.css?v=5" rel="stylesheet" />
    <title>{$baseInfo['site_name']}</title>

</head>

<body id="studio-body">
    <div class="g-hd" id="js-head">
        <include file="Template/header" />
        <div class="w-main">
            <div class="u-head-fg line-white"></div>
        </div>
    </div>

    <div class="g-bd studio-content-1">
        <div class="w-main">
            <div class="studio-content">
                <div class="content-bg"></div>
                <div class="u-main-title">WE BELIEVES ...</div>
                <div class="content">
                    <div class="part-1">
                        <span>“</span>{$introduce["big_fonts"]}
                        <span>”</span>
                    </div>
                    <div class="part-2">{$introduce["small_fonts"]} </div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-bd studio-content-2">
        <div class="w-main">
            <div class="bg-fg"></div>
            <div class="content-wrap">

                <div class="top-title">OUR FOUNDERS</div>
                <div class="content">
                    <volist name="info" id="person" mod="2">
                    <div class="item">
                        <div class="person-info">
                            <div class="name">
                                <span>{$person['en_name']}</span>{$person['cn_name']}</div>
                            <div class="desc">{$person['position']}</div>
                        </div>
                        <div class="introduce">
                                {$person['introduce']}
                        </div>
                    </div>
                    <eq name="mod" value="1"></div><div class="content"></eq>
                    </volist>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="g-ft">
        <div class="w-main footer-style-3 s-line-dark">
            <span class="copyright">&copy; All images and materials in this website are copyright protected and are the property of the EdVolks Architecture
                Design Ltd.</span>
        </div>
    </div>


</body>

</html>
<script src="__WEB_ASSET__/js/zepto.min.js"></script>
<script src="__WEB_ASSET__/js/main.js"></script>