<div class="m-country-list clearfix">
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_681216/1206x0_681218/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/zhili.jpg"></div>
    <p>智利</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_681192/1206x0_681194/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/wulagui.jpg"></div>
    <p>乌拉圭</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_681168/1206x0_681170/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/weineiruila.jpg"></div>
    <p>委内瑞拉</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_681144/1206x0_681146/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/sulinan.jpg"></div>
    <p>苏里南</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_681120/1206x0_681122/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/guiyana.jpg"></div>
    <p>圭亚那</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_681096/1206x0_681098/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/eguaduoer.jpg"></div>
    <p>厄瓜多尔</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_681072/1206x0_681074/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/gelunbiya.jpg"></div>
    <p>哥伦比亚</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_681022/1206x0_681024/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/boliweiya.jpg"></div>
    <p>玻利维亚</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_680998/1206x0_681000/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/minu.jpg"></div>
    <p>秘鲁</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_680974/1206x0_680976/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/baxi.jpg"></div>
    <p>巴西</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_680950/1206x0_680952/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/balagui.jpg"></div>
    <p>巴拉圭</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/nmz_680924/1206_680926/1206x0_680928/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/agenting.jpg"></div>
    <p>阿根廷</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680874/1206x0_680876/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/yamaijia.jpg"></div>
    <p>牙买加</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680850/1206x0_680852/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/weidimala.jpg"></div>
    <p>危地马拉</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680826/1206x0_680828/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/duobage.jpg"></div>
    <p>特立尼达和多巴哥</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680776/1206x0_680778/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/gelinnadingsi.jpg"></div>
    <p>圣文森特和格林纳丁斯</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680726/1206x0_680728/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/luxiya.jpg"></div>
    <p>圣卢西亚</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680702/1206x0_680704/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/niweisi.jpg"></div>
    <p>圣基茨和尼维斯</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680678/1206x0_680680/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/saerwaduo.jpg"></div>
    <p>萨尔瓦多</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680654/1206x0_680656/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/nijialagua.jpg"></div>
    <p>尼加拉瓜</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680604/1206x0_680606/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/moxige.jpg"></div>
    <p>墨西哥</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680402/1206x0_680404/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/hongdulasi.jpg"></div>
    <p>洪都拉斯</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680352/1206x0_680354/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/haidi.jpg"></div>
    <p>海地</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680302/1206x0_680304" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/guba.jpg"></div>
    <p>古巴</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680252/1206x0_680254/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/gelinnada.jpg"></div>
    <p>格林纳达</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680228/1206x0_680230/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/gesidalijia.jpg"></div>
    <p>哥斯达黎加</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680204/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/duominike.jpg"></div>
    <p>多米尼克</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680180/1206x0_680182/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/duominijia.jpg"></div>
    <p>多米尼加</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680156/1206x0_680158/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/bolizi.jpg"></div>
    <p>伯利兹</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680080/1206x0_680082/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/banama.jpg"></div>
    <p>巴拿马</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680056/1206x0_680058/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/bahama.jpg"></div>
    <p>巴哈马</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680032/1206x0_680034/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/babaduosi.jpg"></div>
    <p>巴巴多斯</p>
  </a>
  <a class="item" href="http://www.fmprc.gov.cn/web/gjhdq_676201/gj_676203/bmz_679954/1206_680008/1206x0_680010/" target="_blank">
    <div class="img-box"><img class="img" src="__UPLOAD__/country/babuda.jpg"></div>
    <p>安提瓜和巴布达</p>
  </a>
</div>
