<div class="main-wrapper bg-grey">
    <div class="content-wrap">
        <img src="__WEB_ASSET__/images/cyds-about-1.jpg" alt="" srcset="">
    </div>
</div>
<div class="main-wrapper">
    <img src="__WEB_ASSET__/images/cyds-about-2.jpg" alt="" srcset="">
</div>
<div class="main-wrapper bg-grey">
    <div class="content-wrap">
        <img src="__WEB_ASSET__/images/cyds-about-3.jpg" alt="" srcset="">
    </div>
</div>
<div class="main-wrapper about-date-box">
    <div class="content-wrap">
        <div class="date">报名时间：即日起至2021年9月18日18:00</div>
    </div>
</div>
<div class="main-wrapper" style="background:#dbdeed;">
    <div class="content-wrap">
        <img src="__WEB_ASSET__/images/cyds-about-4.jpg" alt="" srcset="">
    </div>
</div>