<assign name="news" value="$outData['news']" />
<div class="g-detail-page-wrap">
    <div class="sub-banner"></div>

    <div id="news-detail" class="k1120">
        <div class="page-part-wrap">
            <h1 class="news-title">{$news['title']}</h1>
            <div class="other-info">
                <span class="time">发布时间：{$news['create_time']}</span>
                <span class="from">来源：{$news['origin']}</span>
                <span class="click">点击量：{$news['click']}</span>
            </div>
            <div class="content-wrap">
                {$news['content']}
            </div>
        </div>
    </div>
</div>