<!--Footer section start-->
<footer class="footer-section section">

    <!-- Footer Top Section Start -->
    <!-- Footer Top Section End -->

    <!--Footer bottom start-->
    <div class="footer-bottom section fb-60" style="font-size:12px;color:#969696;">
        <div class="container">
            <div class="row no-gutters st-border pt-35 pb-35 align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright">
                        <p>珠海市金湾区人力资源和社会保障局版权所有</p>
                        联系地址：珠海市金湾区红旗镇南翔路313号3楼&nbsp;&nbsp;电话：0756-7262615 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-social">
                        珠海金湾人力资源服务网<br>粤ICP备16089975号
                        <!-- <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-google"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer bottom end-->

</footer>
<!--Footer section end-->