<!--Header section start-->
<div
    class="black-logo-version sticky-white sb-border header-sticky d-none d-lg-block">
    <div class="main-header">
        <div class="container pl-lg-15 pl-md-15 pr-0">
            <div class="row align-items-center no-gutters">

                <!--Logo start-->
                <div class="col-xl-3 col-lg-2 col-12">
                    <div class="logo">
                        <a href="{:U('Index/index')}"><img
                                src="__WEB_ASSET__/images/logo-white.png" alt=""></a>
                    </div>
                </div>
                <!--Logo end-->

                <!--Menu start-->
                <div class="col-xl-9 col-lg-7 col-12">
                    <nav class="main-menu">
                        <ul>
                            <li><a href="{:U('Index/index')}">首页</a></li>
                            <li><a href="{:U('Jobs/index')}">招聘职位</a></li>
                            <li><a href="https://www.zhtfw.net/zph/">现场招聘</a></li>
                            <li><a href="{:U('News/index',array('cid'=>8))}">人社动态</a></li>
                            <li><a href="{:U('News/index',array('cid'=>10))}">人社政策</a></li>
                            <li><a href="{:U('School/index')}">校园频道</a></li>
                            <li><a href="{:U('Chuangyedasai/index')}">创业大赛</a></li>
                            <li><a href="{:U('Single/index',array('id'=>1))}">关于我们</a></li>

                        </ul>
                    </nav>
                </div>
                <!--Menu end-->

            </div>

        </div>
    </div>
</div>
<!--Header section end-->

<!--Header Mobile section start-->
<header class="header-mobile bg_color--4 d-block d-lg-none">
    <div class="header-bottom menu-right">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header-mobile-navigation d-block d-lg-none">
                        <div class="row align-items-center">
                            <div class="col-3 col-md-3">
                                <div class="mobile-navigation text-right">
                                    <div class="header-icon-wrapper">
                                        <ul class="icon-list justify-content-start">
                                            <li class="popup-mobile-click">
                                                <a href="javascript:void(0)"><i class="lnr lnr-menu"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="header-logo text-center">
                                    <a href="{:U(Index/index)}">
                                        <img src="__WEB_ASSET__/images/logo-mobile.png" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
<!--Header Mobile section end-->

<!-- Start Popup Menu -->
<div class="popup-mobile-manu popup-mobile-visiable">
    <div class="inner">
        <div class="mobileheader">
            <div class="logo">
                <a href="{:U('Index/index')}}">
                    <img src="__WEB_ASSET__/images/logo-mobile.png" alt="Multipurpose">
                </a>
            </div>
            <a class="mobile-close" href="#"></a>
        </div>
        <div class="menu-content">
            <ul class="menulist object-custom-menu">
                <li><a href="{:U('Index/index')}">首页</a></li>
                <li><a href="{:U('Jobs/index')}">招聘职位</a></li>
                <li><a href="https://www.zhtfw.net/zph/">现场招聘</a></li>
                <li><a href="{:U('News/index',array('cid'=>8))}">人社动态</a></li>
                <li><a href="{:U('News/index',array('cid'=>10))}">人社政策</a></li>
                <li><a href="{:U('School/index')}">校园频道</a></li>
                <li><a href="{:U('Chuangyedasai/index')}">创业大赛</a></li>
                <li><a href="{:U('Single/index',array('id'=>1))}">关于我们</a></li>


            </ul>
        </div>
    </div>
</div>
<!-- End Popup Menu -->