@charset "utf-8";
/* CSS Document */
.m-text-img-list .author {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding:.2rem 0;
	border-top:1px dotted #999;
	font-size:12px;
	color:#666;
}
.m-text-img-list .author .avatar {
	flex-grow: 0;
	flex-shrink: 0;
	margin-right:.16rem;
	width:.64rem;
	height:.64rem;
	border-radius: 50%;
	vertical-align: middle;
}
.m-text-img-list .author .name {
	flex:1 1 80%;
}
.m-text-img-list .author .more {
	flex:0 0 auto;
	width:2rem;
	text-align: right;
}
.m-text-img-list .zl-desc {
	padding-bottom:.8rem;
	line-height: 1.4;
	font-size:12px;
	color:#666;
}
.m-text-img-list .video-row {
	padding:.1rem 0;
	line-height: 1;
	color:#666;
}
.m-text-img-list .video-desc {
	padding: .1rem 0 .6rem;
	line-height: 1.4;
	font-size:12px;
	color:#666;
}

#zl-author-info .avatar-box {
	padding:.8rem 0;
	text-align: center;
}
#zl-author-info .avatar-box img {
	width:5.8rem;
	height:5.8rem;
	border-radius:50%;
}
#zl-author-info .desc {
	font-size:14px;
	color:#333;
}
#zl-author-info .desc p {margin-bottom:.4rem;}
#zl-author-info .operation {padding-bottom:.8rem;text-align: center;}
#zl-author-info .operation .btn {width:3.5rem;}
#zhuanlan-content-wrap {padding-bottom:.8rem;}
#video-main-wrap {padding-top:.8rem;}
#article-recomend-box {padding-top:.8rem;padding-bottom:.8rem;}
.m-video-list {
	display: -webkit-flex;
	flex-wrap: wrap;
	box-sizing:border-box;
	justify-content: space-between;
}
.m-video-list .thumb {
	width:100%;
	height:2.85rem;
	background-color:#f1f1f1;
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
}
.m-video-list .item {
	display: block;
	margin-bottom:.4rem;
	width:4.5rem;
	line-height: 1;
}
.m-video-list .title {height:1rem;line-height:1rem;font-size:14px;overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}
.m-video-list .other p {
	margin-bottom:.1rem;
	color:#666;
	line-height:1;
}
.m-video-list .other p:before{
	content:"";
	display: inline-block;
	margin-right:.1rem;
	width:.4rem;
	height:.4rem;
	background-position: center;
	background-repeat:no-repeat;
	background-size:contain;
	vertical-align: middle;
}
.m-video-list .other .time:before {background-image:url(images/icon-time.jpg)}
.m-video-list .other .person:before {background-image:url(images/icon-person.jpg)}
.m-video-list .other p span {display: inline-block;vertical-align: middle;}

.m-tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.2rem;
}
.m-tab .item {
	flex:1 1 auto;
	height:1.2rem;
	line-height:1.2rem;
	box-sizing: border-box;
	border-bottom:1px solid #666;
	text-align: center;
	font-size:14px;
}
.m-tab .active {
	color:#c40a00;
	/* border-bottom:2px solid #c40a00; */
	border-color: #c40a00;
}

.m-article-list {
	display: -webkit-flex;
	flex-wrap: wrap;
	box-sizing:border-box;
	justify-content: space-between;
}
.m-article-list .item {
	display: flex;
	padding:.4rem 0;
	width:100%;
	border-bottom:1px dotted #ccc;
}
.m-article-list .thumb {
	flex-grow: 0;
	flex-shrink: 0;
	width:3.5rem;
	height:2.28rem;
	background-color:#f1f1f1;
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
	border-radius:4px;
}
.m-article-list .info-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left:.4rem;
	height: 2.2rem;
	color:#666;
}
.m-article-list .title {
	margin-bottom:.32rem;
	line-height: 1;
	font-size:14px;
	color:#121212;
}
.m-article-list .desc {font-size:12px;line-height:1.2;}
.m-article-list .other {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 1;
}
.m-pagination {
	padding: .8rem 0;
	text-align: center;
}
.m-pagination span,.m-pagination a {
	display: inline-block;
	margin-right:.16rem;
	width:.8rem;
	height:.8rem;
	line-height:.8rem;
	text-align: center;
	font-size:12px;
	border:1px solid #ccc;
}
.m-pagination .current
{
	background-color:#c50a01;
	border-color:#c50a01;
	color:#fff;
}
.m-sub-cate {
	display: flex;
	padding:.6rem .32rem;
	justify-content: center;
}
.m-sub-cate a {
	flex:1 1 auto;
	text-align: center;
}

.m-article-detail {
	padding:1rem .64rem;
}
.m-article-detail .title {
	text-align: center;
	line-height: 1.2;
	font-size:16px;
}
.m-article-detail .other {
	padding:.2rem 0;
	font-size:11px;
	text-align: center;
	color:#999;
}
.m-article-detail .other span:first-child {
	margin-right:.68rem;
}
.m-article-detail .content {padding-top:.8rem;overflow: hidden;font-size:14px;}
.m-article-detail img {max-width: 100%;}



.m-comment-wrap {padding-top:.6rem;}
.m-comment-wrap .bar {
	margin-bottom:.4rem;
	font-size:14px;
	line-height: 1;
}
.m-comment-form {padding-bottom:1rem;}
.m-comment-form textarea {
	box-sizing:border-box;
	padding:2px;
	width:100%;
	min-height: 2.6rem;
	border:1px solid #ccc;
	background:#f7f7f7;
	border-radius:4px;
	outline: none;
	font-size:12px;
}
.m-comment-form .operation {padding-top:.6rem;text-align: center;}
.m-comment-form .btn {
	display: inline-block;
	width:2.6rem;
	height:.8rem;
	line-height: .8rem;
	text-align: center;
	color:#fff;
	background-color: #c40b00;
	border:none;
	border-radius:3px;
}
.m-comment-list {border-top:1px solid #ccc;}
.m-comment-list .item {
	padding:.48rem 0;
	border-bottom:1px dotted #ccc;
}
.m-comment-list .item .top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	line-height: 1;
	color:#999;
	
}
.m-comment-list .item .avatar {
	flex:none;
	width:1rem;
	height:1rem;
	border-radius: 50%;
}
.m-comment-list .item .name {
	flex: 1 1 100%;
	padding-left:.32rem;
}
.m-comment-list .item .time {
	flex: none;
	white-space: nowrap;
	font-size:11px;
}
.m-comment-list .item .content {padding-top:.32rem;font-size:12px;}

.m-video-player {
	width:100%;
	height:5.68rem;
	background:#000;
}
.video-tab-content .desc {padding:.6rem;font-size:12px;line-height: 1.5;}