<div class="member-main-content">
  <div class="bar">
    <span class="caption">已发布商机</span>
  </div>
  <div class="business-list">
    <empty name="data">
      <div class="m-empty">
        <img src="__WEB_ASSET__/images/null-page-draw.png">
        <div class="tips">暂无相关记录！</div>
      </div>
      <else/>
      <table width="100%" class="table m-table-wrap" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <th align="left">标题</th>
          <th width="80" class="hidden-xs" align="left">审核状态</th>
          <th><span class="">发布日期</span></th>
          <th>操作</th>
        </tr>
        <foreach name="data" item="list">
          <tr>
            <td class="name"><a href="{:U('business_detail',array('id'=>$list['id']))}">{$list['title']}</a>
            </td>
            <td class="hidden-xs">
              <IF condition="$list['status'] eq 1">
                <span class="text-success">已通过</span>
                <ELSEIF condition="$list['status'] eq 2" />
                <span class="text-danger">未通过</span>
                <else/>
                <span class="text-info">审核中</span>
              </IF>
            </td>
            <td class="">{$list['date']}</td>
            <td>
              <if condition="$list['status'] eq 0">
                <a href="{:U('business_edit',array('id'=>$list['id']))}">修改</a>
              </if>
              <a href="javascript:" class="js-del-one" data-url="{:U('business_delone',array('id'=>$list['id']))}">删除</a>
            </td>
          </tr>
        </foreach>

      </table>
      <div class="m-pagination">
          {$page}
      </div>
    </empty>
  </div>
</div>