@charset "utf-8";
/* Default theme for bt framework*/
/*::-webkit-scrollbar {
    width:10px;
    height:10px;
    background: #eee;
}
::-webkit-scrollbar-track {
    background-color:#333;
    box-shadow:inset 0 0 2px rgba(0,0,0,.8);
}
::-webkit-scrollbar-thumb {
    border-radius:5px;
    background-color:#666;
    box-shadow:inset 0 0 2px rgba(0,0,0,.8);
}*/

html, body {
    font-family: "microsoft yahei";
    height: 100%;
}
body {
    background:#f4f4f4;
}
ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


.avatar {
    border-radius: 50%;
}

textarea {
    resize: none;
}
.panel {
    border:none;
}
.panel-default > .panel-heading {
    background-color: #fff;
    font-weight: bold;
}
/***/
.g-wrap {
    width:100%;

}
.g-main-wrap {
    margin:0 auto;
    padding-top:12px;
    width:900px;
}
.g-main-content {
    float:right;
    width:720px;
}
#header {
    background:#fff;
}
#header .title {
    height:64px;
    font-size:22px;
    line-height: 64px;;
    font-weight: bold;
}
#header .header-bar {
    margin:0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content:space-between;
    align-items: center;
    -webkit-align-items: center;
    width:900px;
}
/*******Login*****/
#loadingProgress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1099;
    width: 0;
    height: 4px;
    transition: all .6s;
}
#login-background {
    width:100%;
    height: 100%;
    background-color:#0166d8;
    /* background-image:url("../images/login-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5; */
}
.login-form-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9;
    margin-left: -200px;
    margin-top: -150px;
    padding: 20px;
    width: 400px;
    min-height: 300px;
    background-color: rgba(255,255,255,.1);
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    color:#fff;
}
.login-page-title {
    font-size:18px;
}

/***home*/
.home-top {
    padding:12px;
}
.home-top .thumb {
    float: left;
    width:96px;
    height:96px;
    border-radius:64px;
}
.home-top .right-info {
    margin-left:108px;
}
 .home-top .business-name {
    font-size:18px;
    font-weight: bold;
    line-height: 1;
}

/**/
.m-side-bar {
    float: left;
    width:160px;
    background:#fff;
    border-radius:3px;
}
.m-side-bar .user-info {
    padding-top:24px;
    padding-bottom:12px;
    text-align: center;
    background-color: #5898e0;
    color:#fff;
}
.m-side-bar .user-info .user-name {
    font-weight: bold;
}
.m-side-bar .user-info img {
    width: 64px;
    height:64px;
    border-radius: 50%;
}
.m-side-bar .top-bar {
    padding:12px;
    font-size: 16px;
    border-bottom:1px solid #f1f1f1;
}
.side-nav {
    padding:12px;
}
.side-nav > li:not(:last-child) {
    margin-bottom:12px;
    padding-bottom:12px;
    border-bottom: 1px solid #f1f1f1;
}
.side-nav .child {
    padding:0 12px;
}
.side-nav .child  li {
    padding: 12px 0;
}
.m-index-statistics .list-warp {
    width: 100%;
}
.m-index-statistics .list-warp li{
    float: left;
    display: inline-block;
    width:25%;
    text-align: center;
    color:#999;
}
.m-index-statistics .list-warp  .num {
    font-size:16px;
    font-weight:bold;
    color:#333;
}
.m-welcome-info {
    padding-top:12px;
}

.m-empty {
    text-align: center;
    opacity: .5;
}
.m-empty img {
    margin-bottom: 12px;
    opacity: .2;
}

/****/
.m-question-list .item {
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content:space-between;
    padding:12px 0;
}
.m-question-list .item:not(:last-child){
    border-bottom: 1px solid #f1f1f1;

}
.m-question-list .item .title {
    font-size:16px;
    color:#232323;
}
.m-question-list .item .other-info {
    font-size:12px;
    color:#999;
}
.m-question-list .item .stage,.m-question-list .item .operation {
    flex:0 0 auto;
    -webkit-flex:0 0 auto;
}
.m-question-list .item .content {
   flex-grow:1;
   -webkit-flex-grow:1;
   padding:0 12px;
}
.glyphicon {
    margin-right:4px;
}

/****/
.m-thumbnail-upload .add-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    color: #ddd;
}

.m-thumbnail-upload .add-btn:before {
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    content: "\2b";
    font-size: 50px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.m-thumbnail-upload .thumb-box {
    position:relative;
    width: 120px;
    height: 120px;
    overflow:hidden;
    text-align:center;
    border:1px solid #ddd;
}
.m-thumbnail-upload .thumb-box img {max-width: 100%;}
.m-thumbnail-upload .thumb-box .del-btn {
    position:absolute;
    left:0;
    bottom:0;
    z-index:1;
    width:100%;
    height:30px;
    line-height:30px;
    background-color:rgba(0,0,0,.6);
    color:#fff;
    cursor: pointer;
}

/****/
#m-content-iframe {
    border: 0;
    width:100%;
}

/****/
.m-answer-list .item {
    display: -webkit-flex;
    width:100%;

}
.m-answer-list .item .info {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}
.m-answer-list .item .other {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    width:40%;
}
.m-answer-list .item .unit {
    display: inline-block;
    width:30%;
    text-align: center;
}
.m-answer-list .item .unit p:first-child {
    color:#999;
}
.m-answer-list .item .answer-content {
    display: block;
    padding:12px 0;
    color:#333;
}
.m-answer-list .item .time {
    color:#999;
    font-size:12px;
}
.m-answer-list .item:not(:last-child) {
    margin-bottom:24px;
    padding-bottom:24px;
    border-bottom:1px solid #eee;
}

/****/
.m-pagination {
    padding:24px 0;
}
.m-pagination > div {
    text-align: center;
}
.m-pagination > div > .current {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.m-pagination a,.m-pagination span {
    display: inline-block;
    padding:4px 8px;
    line-height: 1;
}

/****/
.m-answer-detail .other-info{
    background-color: #fff;
    font-size: 12px;
    color:#999;
}
.m-answer-detail .other-info span {
    margin-right:12px;
}
.m-answer-detail .other-info span:first-child {
    margin-right:24px;
}