<div class="sub-banner"></div>
<div class="content-wrap k1120">
    <div class="m-tab-nav">
        <a href="javascript:" data-index="0" class="current">员工之家</a><a href="javascript:" data-index="1">劳务服务工作站</a>
    </div>
    <div class="m-tab-content">
        <div class="content-item" style="display: block;">
            <div class="contact-wrap">
                <div class="contact-info">
                    <div class="contact-row">
                        <span class="icon icon-tel"></span>
                        <div>
                            <p>热线电话</p>
                            <p>{$ygzjInfo['tel']}</p>
                        </div>
                    </div>
                    <div class="contact-row">
                        <span class="icon icon-phone"></span>
                        <div>
                            <p>联系手机号</p>
                            <p>{$ygzjInfo['tel']}</p>
                        </div>
                    </div>
                    <div class="contact-row">
                        <span class="icon icon-email"></span>
                        <div>
                            <p>电子信箱</p>
                            <p>{$ygzjInfo['email']}</p>
                        </div>
                    </div>
                    <div class="contact-row">
                        <span class="icon icon-addr"></span>
                        <div>
                            <p>联系地址</p>
                            <p>{$ygzjInfo['addr']}</p>
                        </div>
                    </div>
                </div>
                <div class="map-wrap">
                    <div class="contcat-map-content" id="ygzj-dituContent"></div>
                </div>
            </div>
        </div>
        <div class="content-item">
            <div class="contact-wrap">
                <div class="contact-info">
                    <div class="contact-row">
                        <span class="icon icon-tel"></span>
                        <div>
                            <p>热线电话</p>
                            <p>{$gzzInfo['tel']}</p>
                        </div>
                    </div>
                    <div class="contact-row">
                        <span class="icon icon-tel"></span>
                        <div>
                            <p>联系手机号</p>
                            <p>{$gzzInfo['tel']}</p>
                        </div>
                    </div>
                    <div class="contact-row">
                        <span class="icon icon-tel"></span>
                        <div>
                            <p>电子信箱</p>
                            <p>{$gzzInfo['email']}</p>
                        </div>
                    </div>
                    <div class="contact-row">
                        <span class="icon icon-tel"></span>
                        <div>
                            <p>联系地址</p>
                            <p>{$gzzInfo['addr']}</p>
                        </div>
                    </div>
                </div>
                <div class="map-wrap">
                    <div class="contcat-map-content" id="gzz-dituContent"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
    
    var map1 = new BMap.Map("ygzj-dituContent");            // 创建Map实例
    var point1 = new BMap.Point({$ygzjInfo["lati"]},{$ygzjInfo["longi"]});
    var marker1 = new BMap.Marker(point1);        // 创建标注    
    map1.addOverlay(marker1); 
    map1.centerAndZoom(point1,15);
    map1.enableScrollWheelZoom(); //启用滚轮放大缩小

    //加载第二张地图
    var map2 = new BMap.Map("gzz-dituContent");            // 创建Map实例
    var point2 = new BMap.Point({$gzzInfo["lati"]},{$gzzInfo["longi"]});
    var marker2 = new BMap.Marker(point2);        // 创建标注    
    map2.centerAndZoom(point2,15);
    map2.enableScrollWheelZoom();                  //启用滚轮放大缩小
    map2.addOverlay(marker2); 
    changeMapStyle('midnight')
    function changeMapStyle(style){
        map1.setMapStyle({style:style});
        map2.setMapStyle({style:style});
    }

</script>